@import '../../../styles/index.scss';

.todo {
    padding-top: 100px;

    .todo-container {
        background-color: var(--theme-primary-color);
        max-width: 500px;
        margin: 0 auto;
        padding: 30px;
        border: 6px solid var(--theme-border-black-color);
        border-radius: 10px;

        h1 {
            font-family: 'khula-Bold';
            text-align: center;
            font-size: 30px;
            font-weight: 900;
        }


        .todo-form {
            margin-bottom: 20px;

            input {
                width: 100%;
                padding: 10px 15px;
                border-radius: 10px;
                border: 0px solid transparent;
                font-size: 24px;
                margin-right: 10px;
                margin-bottom: 20px;


                &:focus {
                    outline: none;
                }
            }

            .add-button {
                width: 100%;
                display: flex;
                justify-content: center;

                button {
                    font-size: 20px;
                    font-weight: 500;
                    padding: 8px 15px;
                    background-color: var(--theme-button-darkBlue-bg-color);
                    color: var(--theme-button-white-text-color);
                    border: none;
                    cursor: pointer;
                    border-radius: 8px;
                }
            }
        }

        .task-list {
            list-style-type: none;
            padding: 0;

            li {
                border-radius: 10px;
                width: 100%;
                display: flex;
                align-items: center;
                justify-content: space-between;
                padding: 10px;
                background-color: black;
                color: white;
                margin-bottom: 10px;

                &.completed {
                    text-decoration: line-through;
                }

                button {
                    display: flex;
                    align-items: center;
                    cursor: pointer;
                    background-color: rgb(255, 208, 208);
                    border: none;
                    padding: 5px 10px;
                    border-radius: 8px;

                    .delete-icon {
                        color: var(--theme-button-red-bg-color);
                        font-size: 20px;
                    }
                }
            }
        }
    }
}