@font-face {
    font-family: 'khula-Regular';
    src: url(../../assets/font/Khula/Khula-Regular.ttf);
}

@font-face {
    font-family: 'khula-Bold';
    src: url(../../assets/font/Khula/Khula-Bold.ttf);
}