:root {
    --theme-black-background-color: #1d1d1d;
    --theme-header-white-text-color: #ffffff;
    --theme-form-white-text-color: #ffffff;
    --theme-white-text-color: #ffffff;
    --theme-form-white-border-color: #ffffff;
    --theme-form-black-text-color: #000000;
    --theme-border-black-color: #000000;
    --theme-button-white-bg-color: #ffffff;
    --theme-primary-color: #3D96F4;
    --theme-button-white-text-color: #ffffff;
    --theme-button-red-bg-color: #ff3f3f;
    --theme-button-darkBlue-bg-color: #002950;
}