:root {
    --theme-black-background-color: #000000;
    --theme-header-white-text-color: #ffffff;
    --theme-form-white-text-color: #ffffff;
    --theme-form-white-border-color: #ffffff;
    --theme-form-black-text-color: #000000;
    --theme-button-white-bg-color: #ffffff;
    --theme-primary-color: #3D96F4;
}